/*
phone               <= 600px
tablet potrait      <= 900px
tablet landscape    <= 1200px
desktop             = 1200px - 1800px
big desktop         >1800px
*/
/* 1rem = ukuran root font size */
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

a {
  text-decoration: none !important; }

html {
  font-size: 10px;
  /* 1rem = 10px */ }

body {
  font-family: "Mont-Regular";
  letter-spacing: .5rem; }

@font-face {
  font-family: 'Mont-Regular';
  src: url("font/mont-regular-webfont.woff"); }

.navbar {
  width: 80%;
  position: absolute;
  top: 0;
  left: 50%;
  padding: 3rem 0 !important;
  transform: translateX(-50%);
  text-transform: uppercase; }
  .navbar-brand img {
    height: 4.1rem;
    margin-right: 3rem; }
  .navbar .nav-item {
    margin-bottom: -1.5rem; }
    .navbar .nav-item .nav-link {
      font-size: 1.1rem;
      color: white;
      letter-spacing: .5px;
      margin-right: 1.5rem; }

.btn {
  text-transform: uppercase;
  text-decoration: none; }
  .btn-login {
    transition: all .2s;
    letter-spacing: .5px;
    border-radius: 5px;
    padding: 1rem 2rem;
    border: 1.5px solid white;
    color: white;
    margin-right: 2rem; }
    .btn-login:hover {
      background: white;
      color: black; }
  .btn-call {
    transition: all .2s;
    letter-spacing: .5px;
    padding: 1rem 2rem;
    color: white;
    background: #f79a20;
    border: 1.5px solid #f79a20;
    border-radius: 5px; }
    .btn-call:hover {
      background: none;
      color: #f79a20; }

.header {
  position: relative;
  height: 60.67rem;
  background: linear-gradient(to right bottom, rgba(43, 143, 242, 0.8), rgba(32, 111, 192, 0.8)); }
  .header__bg-fix {
    top: 0;
    position: fixed;
    z-index: -20;
    background-size: cover;
    background-repeat: no-repeat; }

/* note: 
    -bagian resoulusi akan dikerjakan ketika coding mobile device
    -persiapkan asset dengan resoulusi yang berbeda untuk diload di mobile
*/
#content {
  background: #fff;
  height: 90rem; }
