.wrapper{
    background: #F7F9FE;
    position: relative;
    z-index: 40;
    &__blog{
        height: 222em;
    }
}
.container{
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    background: #F7F9FE;
    padding: 5rem !important;
    top: -8em;
    &__pagination{
        margin-top: 4rem;
        position: relative;
        &-box{
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
        }
    }
}

.footer{
    .container{
        position: absolute;
        top: 0;
        background: blue;
        height: 100%;
    }
}

.content{
    background: #F7F9FE;
    padding: 10%;
    padding-bottom: 0;
    z-index: 50;
    &__wrapper{
        position: relative;
        background: #F7F9FE;
        margin-top: -22rem;
        padding: 6rem;
        z-index: 60;
    }
}

.relatepost{
    padding: 8rem 0;
    background: white;
    &__title{
        font-size: 3.6rem;
        line-height: 4.5rem;
        letter-spacing: 0;
        margin-left: 7.5%;
        margin-bottom: 4rem;
        font-family: "MontRegular";
    }
    .card-row{
        width: 90%;
        margin-left: 5%;
    }
}

.writter{
    width: 279px;
    position: relative;
    height: 7rem;
    margin-bottom: 6rem;
    &__img{
        &--profile{
            display: inline-block;
        }
        &--blog{
            width: 69.5rem;
            margin-bottom: 5rem !important;
        }
    }
    &__name{
        padding-left: 2rem;
        position: absolute;
        top: 0;
        left: 7rem;
        display: block;
        font-family: "MontRegular", Arial, sans-serif;
        font-size: 2.4rem;
        line-height: 2.4rem;
        letter-spacing: 0;
        color: #474747;
    }
    &__time{
        display: block;
        margin-top: 1.8rem;
        color: rgba(#474747, .9);
        font-size: 1.4rem;
        letter-spacing: 0;
    }

    &__sosmed{
        &--item{
            list-style: none;
            padding: 1rem;
        }
    }

    &__text{
        padding-left: 2.5rem !important;
        font-family: "MontRegular";
        color: #3E3F44;
        p{
            font-size: 1.4rem;
            letter-spacing: .5px;
            line-height: 2.7rem;
            margin-bottom: 5rem;
            br{
                margin-bottom: 1.5rem;
            }
        }

        &--quots{
            position: relative;
            font-family: "MontSemibold";
            padding-left: 4.5rem;
            margin-bottom: 5rem;
            font-size: 1.8rem !important;
            letter-spacing: .64px !important;
            line-height: 3.2rem !important;
            padding-top: 2.5rem;
            .dblquots{
                position: absolute;
                top: -2rem;
                left: 4.5rem;
                height: 3.8rem;
                width: 3.8rem;
            }
        }
    }
    &__icon{
        padding: 1rem 0 1rem 0;
        background: blue;
    }
}