.wrapper{
    background: #F7F9FE;
    position: relative;
    z-index: 40;
    &__blog{
        height: 222em;
    }
}
.container{
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    background: #F7F9FE;
    padding: 5rem !important;
    top: -8em;
    &__pagination{
        margin-top: 4rem;
        position: relative;
        &-box{
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
        }
    }
}

.footer{
    .container{
        position: absolute;
        top: 0;
        background: blue;
        height: 100%;
    }
}