.footer{
    height: 63.5em;
    background: $blue-gradient-solid;
    position: relative;
    overflow: hidden;
    @include responsive(phone){
        height: 145rem;
        text-align: center;
    }
    .box-item{
        &:not(:last-child){
            margin-bottom: 3.5rem;
        }
    }
    &__content{
        position: absolute;
        top: 35%;
        left: 50%;
        transform: translate(-50%, -40%);
        width: 80%;
    }
    &__motif{
        position: absolute;
        left: -4rem;
        bottom: 0;
    }
    .motif1{
        @include responsive(phone){
            height: 15rem;
            margin-left: -30rem;
        }
    }
    .motif2{
        @include responsive(phone){
            height: 50rem;
            margin-left: -40rem;
        }
    }
    &__logo{
        width: 10.07rem;
        margin-top: -1rem;
        margin-bottom: 5rem;
        @include responsive(phone){
            margin-top: 5rem;
            margin-bottom: 3rem;
        }
    }
    &__place{
        width: 23.08rem;
        font-size: 1.4rem;
        line-height: 3.3rem;
        letter-spacing: 0;
        color: white;
        padding-top: .5rem;
        @include responsive(phone){
            margin-left: 50%;
            transform: translateX(-50%);
        }
    }
    &__headlink{
        font-family: "MontSemiBold" Arial, sans-serif;
        color: white;
        font-size: 2.1rem;
        line-height: 3.7rem;
        &--mb4{
            margin-bottom: 4rem;

        }
    }
    &__link{
        &--item{
            list-style: none;
            a{
                text-decoration: none;
                color: white;
                font-size: 1.4rem;
                line-height: 4rem;
                transition: all .2s;
                @include responsive(phone){
                    line-height: 3rem;
                }
                &:hover{
                    color: rgb(230, 228, 228);
                }
            }
        }
    }
    &__copyright{
        position: absolute;
        bottom: 3rem;
        width: 80%;
        left: 50%;
        transform: translateX(-50%);
        &--cp{
            position: relative;
            font-size: 1.4rem;
            line-height: 3.3rem;
            color: white;
        }
        &--term{
            right: 0;
            position: absolute;
        }
        &--link{
            text-decoration: none;
            color: white;
            transition: all .2s;
            margin-bottom: 5rem !important;
            &:hover{
                color: rgb(230, 228, 228);
            }
        }
    }
}