.header{
    height: 72rem;
    background: $blue-gradient, url("../img/hero.jpg") no-repeat top /cover;
    position: relative;

    // Resolusi 
    // @media (min-resolution:192dpi) {
    //     background: linear-gradient(to right bottom,rgba($warna-orange-muda, 0.8),rgba(40, 180, 133, 0.8)),url('../img/hero.jpg');
    //     background-position: top;
    // background-repeat: no-repeat;
    // background-size: cover;
    // }
}


/* note: 
    -bagian resoulusi akan dikerjakan ketika coding mobile device
    -persiapkan asset dengan resoulusi yang berbeda untuk diload di mobile
*/