// color
$light-blue : #2b8ff2;
$dark-blue  : #206fc0;
$color-white : #fff;
$color-orange : #F79A20;
$color-grey:#474747;
$blue-gradient: linear-gradient(to right bottom, rgba($light-blue, .8), rgba($dark-blue, .8));
$blue-gradient-solid: linear-gradient(to right bottom, $light-blue, $dark-blue);
$color-placeholder: rgba(#3E3F44, .5);
$color-text-link: rgba(#2B8FF2, .9);
$color-text: rgba(#474747, .9);
$color-twitter: #93c5f7;
$color-facebook: #0f5195;
$color-linkedin: #d14492;
$color-youtube: #c70f3d;



// grid
$panjang-grid: 114rem;
$margin-vertikal:8rem;
$margin-horizontal:6rem;