.btn{
    text-transform: uppercase;
    text-decoration: none;
    &-login{
        transition: all .2s;
        letter-spacing: .5px;
        border-radius: 2.5px;
        padding: 1rem 2rem;
        border: 1.5px solid white;
        color: white;
        margin-right: 2rem;
        &:hover{
            background: rgba(white, .1);
            color: white;
        }
    }
    &-call{
        transition: all .2s;
        letter-spacing: .5px;
        padding: 1rem 2rem;
        color: white;
        background: #f79a20;
        border: 1.5px solid #f79a20;
        border-radius: 2.5px;
        &:hover{
            color: white;
            border: 1.5px solid #ffaa3a;
            background: #ffaa3a;
        }
    }

    &-sendmail{ 
        @include responsive(phone){
            padding-right:5px;
        }
        .icon-sendmail{
            color: white;
            transition: all .3s;
            &:hover{
                color: $color-placeholder;
            }
        }
    }
}

.icon{
    &__footer{
        &--social{
            li{
                list-style: none;
                display: inline-block;
                transition: all .4s;
                margin-left: -1rem;
                padding: 1.5rem;
                a{
                    color: white;
                }
            }
        }
    }
    &__blog{
        &:not(:first-child){
            margin-left: 1rem;
        }
        color: $color-grey;
        
    }
}
.social{
    &--twitter:hover{
        color: $color-twitter;
    }
    &--facebook:hover{
        color: $color-facebook;
    }
    &--linkedin:hover{
        color: $color-linkedin;
    }
    &--youtube:hover{
        color: $color-youtube;
    }
    &--like:hover{
        color: $color-placeholder;
    }
}