.card{
    border: none !important;
    width: 50em;
    height: 67em;
    -webkit-box-shadow: 0px 10px 40px 10px rgba(black, .10);
    -moz-box-shadow: 0px 10px 40px 10px rgba(black, .10);
    box-shadow: 0px 10px 40px 10px rgba(black, .10);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 3em;
    .card-body{
        padding: 4.5rem;
        position: relative;
    }
    &-tag{
        text-transform: uppercase;
        background: $light-blue;
        position: absolute;
        color: white;
        padding: 1.25rem 2rem;
        top: -2rem;
        letter-spacing: 2px;
        font-size: 1.2rem;
    }
    &-title{
        width: 100%;
        font-size: 2.4rem;
        line-height: 3.4rem;
        margin: left;
        font-family: "MontSemibold", Arial, sans-serif;
        color: #1f222f;
    }
    &-createon{
        font-size: 1.2rem;
        line-height: 2.8rem;
        letter-spacing: 0;
        color: rgba(#474747, .8);
    }
    &-text{
        font-size: 1.2rem;
        line-height: 2.8rem;
        color: #474747;

    }
    &-link{
        text-transform: uppercase;
        color: #f79a20;
        font-size: 1.4rem;
        font-family: "RobotoMedium";
        letter-spacing: .5px;
        position: absolute;
        bottom: 5rem;
        &--line{
            height: 2px;
            background: #f79a20;
            width: 0rem;
            position: absolute;
            bottom: 4rem;
            transition: all .2s;
        }
        &:hover{
            color: #f79a20;
        }
        &:hover ~ .card-link--line{
            width: 8rem;
        }
    }
}