.formfooter{
    &__group{
        margin-top: 1rem;
        background: $color-orange;
        border-radius: 2.5px;
        margin-bottom: 3rem;
    }
    &__input{
        font-size: 1.2rem;
        padding: 1.5rem 2rem;
        font-family: "MontRegular", Arial, sans-serif !important;
        line-height: 1.1rem;
        letter-spacing: .43px;
        color: $color-placeholder;
        width: 80%;
        border: none;
        border-radius: 2.5px 0 0 2.5px;
        transition: all .3s;;
    }
}

.joinform{
    padding-top: 2.5rem;
    &__group{
        margin-bottom: 2rem;
        label{
            display: block;
            font-family: "MontSemibold", Arial, sans-serif;
            line-height: 3.4rem;
            color: #1F222F;
        }
        input{
            border-radius: 2.5px;
            border: 1px solid rgba(grey, .3);
            width: 100%;
            padding: 1rem;
            font-family: "MontRegular", Arial, sans-serif;
            &::placeholder{
                font-size: 1.2rem;
                letter-spacing: .43px;
                color: rgba(#3E3F44, .5)
            }
        }
    }
}