.navbar{
    text-transform: uppercase;
    position: absolute;
    &__header{
        width: 80%;
        top: 0;
        left: 50%;
        padding: 3rem 0 !important;
        transform: translateX(-50%);
    }
    &__blog{
        width: 100%;
        padding: 3rem 0 !important;
        text-align: center;
    }
    &-brand img{
        height: 4.1rem;
        margin-right: 2.5rem;
        margin-top: -1rem;
    }
    .nav-link{
        color: white;
        font-size: 1.1rem;
        letter-spacing: .5px;
        margin-right: 1.5rem;
        transition: all .2s;
        &:hover{
            color: #d6e6ff;
        }
    }
}

.header__nav-box{
    .nav-link{
        text-transform: uppercase;
        padding: 1rem 1.5rem;
        color: white;
        font-size: 1.1rem;
        letter-spacing: .5px;
        margin-right: 1.5rem;
        transition: all .2s;
        border: 1px solid transparent;
        @include responsive(phone){
            margin:0;
            font-size: 1rem;
            padding: 1rem .6rem;
            letter-spacing: 0;
        }
        &:hover{
            border-radius: 2.5px;
            border: 1px solid rgba(white, .5);
            background: rgba(#FFFFFF, .1);
        }
    }
    .nav-item{
        .active{
            border-radius: 2.5px;
            border: 1px solid rgba(white, .5);
            background: rgba(#FFFFFF, .1);
        }
    }
}
