

@font-face{ 
	font-family: 'MontRegular';
	src: url('font/mont-regular-webfont.woff') format('woff');
}
@font-face{ 
	font-family: 'MontSemibold';
	src: url('font/mont-semibold-webfont.woff') format('woff');
}
@font-face{ 
	font-family: 'RobotoMedium';
	src: url('font/roboto-medium-webfont.woff') format('woff');
}

.header__utama{
    color: #fff;
    line-height: 1.7;
    margin-bottom: 4rem;
    text-align: center;
    &--judul{
        font-size: 6rem;
        display: block;
        // font-weight: 300;
        letter-spacing: .5px;
        animation-duration: 2s ;
        margin-bottom: .5em;
    }
    &--keterangan{
        position: absolute;
        width: 45em;
        left: 50%;
        transform: translateX(-50%);
        font-size: 1.4rem;
        display: block;
        font-weight: 200;
        letter-spacing: 1.5px;
    }
}

.header__kedua{
    font-size: 2.4rem;
    line-height: 3.4rem;
    letter-spacing: 0;
    color: #1F222F;
    padding: 2rem 0 1rem 0 ;
    
}

.text{
    font-size: 1.4rem;
    letter-spacing: .5px;
    line-height: 2.7rem;
    margin-bottom: 5rem;
    font-family: "MontRegular", Arial, sans-serif;
    color: $color-text;
    p, ul{
        margin-bottom: 3rem !important;
    }
    ul{
        padding-left: 1.5rem;
    }
    br{
        margin-bottom: 1.5rem;
    }
    &__link{
        color: $color-text-link;
        line-height: 6rem;
        text-transform: capitalize;
    }
}
